{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
				{% if group %}
				<div class="card my-5">
					<div class="card-body">
					{% for element in group %}
						<a href="{% url 'groups:detail' slug=element.slug %}"><h2>{{element.name}}</h2></a>
						<div class="content">
							{% if user in element.members.all %}
								{% if user == element.created_by %}
								<small class="float-right">
								<a href="{% url 'groups:delete' slug=element.slug %}" 
								class="btn btn-lg btn-fill btn-danger mr-2">
									<span class="material-icons update-delete-create">remove_circle</span>
									<span class="align-middle">Delete Group</span>
								</a>
								</small>
								{% else %}
								<small class="float-right">
								<a href="{% url 'groups:leave' slug=element.slug %}" 
								class="btn btn-lg btn-fill btn-danger mr-2">
									<span class="material-icons update-delete-create">remove_circle</span>
									<span class="align-middle">Leave</span>
								</a>
								</small>
								{% endif %}								
							{% else %}
								{% if element in group_request %}
								<small class="float-right">
								<a href="{% url 'groups:cancel' slug=element.slug %}" 
								class="btn btn-lg btn-fill btn-warning mr-2">
									<span class="material-icons update-delete-create">remove_circle</span>
									<span class="align-middle">Cancel Request</span>
								</a>
								</small>
								{% else %}
								<small class="float-right">
								<a href="{% url 'groups:join' slug=element.slug %}" 
								class="btn btn-lg btn-fill btn-success mr-2">
									<span class="material-icons update-delete-create">check_circle</span>
									<span class="align-middle">Join</span>
								</a>
								</small>								
								{% endif %}
							{% endif %}
						</div>
						<p>{{element.description}}</p>
						<div class="text-muted">
						<p>Created by: {{ element.created_by }}</p>
						</div>
						<hr>
					{% endfor %}
					</div>
				</div>
				{% else %}
					<h2>No group yet!</h2>
				{% endif %}
		</div>
	</div>
</div>
{% endblock %}