{% extends "groups/group_base.html" %}
{% load bootstrap4 %}
{% block header %}
	<h3>{{ group.description }}</h3>
	<br>
	<h3 class="font-italic">Created by: {{ group.created_by }}</3>
	{% if user.is_authenticated %}
	<div class="mt-2">
		<br>
		<a href="{% url 'posts:create' slug=group.slug %}" class="btn btn-primary">
			<span class="material-icons update-delete-create">post_add</span>
			<span class="align-middle" style="font-size:18px;">Create new topic!</span>
		</a>
	</div>
	{% endif %}
{% endblock %}
{% block posts %}
	{% for element in group.groupacc.all %}
		<a href="{% url 'posts:detail' pk=element.pk %}"><h2>{{ element.topic }}</h2></a>
		<p>Author: {{ element.author }}</p>
		<div class="text-muted">
		<p>Created: {{ element.creation_date }}</p>
		{% if element.updated_date != element.creation_date %}
			<p>Last updated: {{element.updated_date}}</p>
		{% endif %}
		</div>
		{% if element.author == user %}
			<div class="d-flex flex-row">
				<div>
					<a href="{% url 'posts:update' slug=group.slug pk=element.pk %}" class="btn btn-sm btn-warning">
						<span class="material-icons update-delete-create">update</span>
						<span class="align-middle" style="font-size:18px;">Update</span>
					</a>
				</div>
				<div>
					<a href="{% url 'posts:delete' pk=element.pk slug=group.slug %}" class="btn btn-sm btn-danger ml-2">
						<span class="material-icons update-delete-create">delete</span>
						<span class="align-middle" style="font-size:18px;">Delete</span>
					</a>
				</div>
			</div>
		{% endif %}
	<hr>
	{% endfor %}
{% endblock %}
{% block members %}
	{% for member in group.members.all %}
	<div class="ml-4 mt-2">
		<h4>{{ member }}</h4>
	</div>
	{% endfor %}
{% endblock %}