
@media (min-width: 576px) {
  #intro {
    height: 600px;
  }
}

.divider {
  background-color: #eee;
}

.card {
  box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
}

.body {
  background-color: #f8f9fe;
}

