
@media (min-width: 576px) {
  #intro {
    height: 600px;
  }
}

.divider {
  background-color: #eee;
}

.card {
  box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
}

body {
  background-color: #e5ecee;
}

tr {
   line-height: 5px;
   min-height: 5px;
   height: 5px;
}

.material-icons.reactions {
  font-size: 50px;
}

.material-icons.calendar{
 font-size:24px;
 vertical-align: middle;
}

.material-icons.header {
  font-size: 36px;
  align-items: center;
}

.align-center {
    align-items: center !important;
}

.table+.thead{
  padding: 8px;
}

table thead tr td a,table thead tr td a:hover{
    color: black;
}

/*table thead tr td a:hover{
    color: ;
}*/

ul.nav li.active a {
    color: ;
}

.card-header {
    background-color: #3f74b7e3 !important;
    color: #f8f9fa;
}






