{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
	<div class="row">
	<div class="col-md-8 mx-auto">

	<div class="card mt-5">
	<div class="body-card">
	<div class="text-center">
		<h1>{{group_content.topic}}</h1>
		<a href="{{ user.profile.prof_img.get_absolute_url }}"><img
              src="{{ user.profile.prof_img.url }}"
              class="rounded-circle"
              width="30"
              height="30"
              alt=""/>
        </a>
		<p>{{ group_content.author }}</p>
		<small class="text-muted">
			Posted on {{ group_content.creation_date }}
		</small>
	</div>
	</div>
	</div>
	<br>
	<div class="card">
	<div class="body-card ml-2">
	<p>{{group_content.context}}</p>
	</div>
	</div>
	<br>


	<div class="card">
		<div class="body-card ml-2">
			<p class="text-muted text-center mt-3">... People reacted</p>
			<h5 class="text-center">Share your opinion about this post</h5>
			<div class="row justify-content-center">
			    <div class="col-auto">
			      <table class="table table-borderless text-center">
					<thead>
					    <tr>
					      <td><a href="{% url 'posts:like' %}"><span class="material-icons reactions">favorite</span></a</td>
					      <td><span class="material-icons reactions">thumb_up</span></td>
					      <td><span class="material-icons reactions">thumb_down</span></td>
					    </tr>
					</thead>
					<tbody>
					    <tr class="text-muted">
					      <td scope="row">Super</td>
					      <td>Like</td>
					      <td>Dislike</td>
					    </tr>
					    <tr>
					      <td scope="row"><b>Number</b></td>
					      <td><b>Number</b></td>
					      <td><b>Number</b></td>
					    </tr>
					</tbody>
			      </table>
			    </div>
			</div>
		</div>
	</div>

	<br>
	<div class="card">
	<div class="card-body">
	<form class="form" method="POST">
		{% csrf_token %}
		{% bootstrap_form form %}
		<input type="submit" class="btn btn-primary btn-block" value="Add comment">
	</form>
	</div>
	</div>
	</div>
	</div>
	<br>
	<div class="row">
	<div class="col-md-8 mx-auto">
	{% if group_content.comments.all %}
	<div class="card mb-5">
		{% for comment in group_content.comments.all %}
			<div class="card-body">
				<a href="#"><b>{{ comment.author }}</b></a>
				<br>
				<small>{{ comment.date }}</small>
				<p>{{ comment.text }}</p>
				<hr>
			</div>
		{% endfor %}
	{% else %}
		<h3>No comments yet!</h3>
	{% endif %}
	</div>
	</div>
	</div>
</div>
</div>
{% endblock %}
