{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
	<div class="row">
	<div class="col-md-8 mx-auto">

	<div class="card mt-5">
	<div class="body-card">
	<div class="text-center">
		<h1>{{group_content.topic}}</h1>
		<a href="{{ user.profile.prof_img.get_absolute_url }}"><img
              src="{{ user.profile.prof_img.url }}"
              class="rounded-circle"
              width="30"
              height="30"
              alt=""/>
        </a>
		<p>{{ group_content.author }}</p>
		<small class="text-muted">
			Posted on {{ group_content.creation_date }}
		</small>
	</div>
	</div>
	</div>
	<br>
	<div class="card">
	<div class="body-card ml-2">
	<p>{{group_content.context}}</p>
	</div>
	</div>
	<br>


	<div class="card">
		<div class="body-card ml-2">
			<p class="text-muted text-center mt-3" id="reaction{{group_content.id}}">
				{% if  reactions_sum == 1 %}
					{{reactions_sum}} Reaction
				{% else %}
					{{reactions_sum}} Reactions
				{% endif %}
			</p>
			<h5 class="text-center">Share your opinion about this post</h5>
			<div class="row justify-content-center">
			    <div class="col-auto">
			      <table class="table table-borderless text-center">
					<thead>
					    <tr>
					      <td>
					      	<div class="supers" id="{{ group_content.id }}">
						      	<a href="{% url 'posts:super' %}"
						      	   id="superbtn{{ group_content.id }}">
						      	   {% if supers %}
						      	   <span class="material-icons reactions">
						      	    favorite
						      	   </span>
						      	   {% else %}
						      	   <span class="material-icons reactions">
						      	    favorite_border
						      	   </span>						      	   
						      	   {% endif %}
						      	</a>
					      	</div>
					      </td>
					      <td>
					      	<div class="like" id="{{ group_content.id }}">
						      	<a href="{% url 'posts:like' %}"
						      	   id="likebtn{{ group_content.id }}">
						      	   {% if liked %}
						      	   <span class="material-icons reactions">
						      	    thumb_up
						      	   </span>
						      	   {% else %}
						      	   <span class="material-icons reactions">
						      	    thumb_up_off_alt
						      	   </span>						      	   
						      	   {% endif %}
						      	</a>
					      	</div>
					      </td>
					      <td>
					      	<div class="dislike" id="{{ group_content.id }}">
						      	<a href="{% url 'posts:dislike' %}"
						      	   id="dislikebtn{{ group_content.id }}">
						      	   {% if disliked %}
						      	   <span class="material-icons reactions">
						      	    thumb_down
						      	   </span>
						      	   {% else %}
						      	   <span class="material-icons reactions">
						      	    thumb_down_off_alt
						      	   </span>						      	   
						      	   {% endif %}
						      	</a>
					      	</div>
					      </td>
					    </tr>
					</thead>
					<tbody>
					    <tr class="text-muted">
					      <td scope="row">Super</td>
					      <td>Like</td>
					      <td>Dislike</td>
					    </tr>
					    <tr>
					      <td scope="row" id="supercnt{{group_content.id}}">
					      	<b>{{group_content.supers.count}}</b>
					      </td>
					      <td id="likecnt{{group_content.id}}">
					      	<b>{{group_content.likes.count}}</b>
					      </td>
					      <td id="dislikecnt{{group_content.id}}">
					      	<b>{{group_content.dislikes.count}}</b>
					      </td>
					    </tr>
					</tbody>
			      </table>
			    </div>
			</div>
		</div>
	</div>

	<br>
	<div class="card">
	<div class="card-body">
	<form class="form" method="POST">
		{% csrf_token %}
		{% bootstrap_form form %}
		<input type="submit" class="btn btn-primary btn-block" value="Add comment">
	</form>
	</div>
	</div>
	</div>
	</div>
	<br>
	<div class="row">
	<div class="col-md-8 mx-auto">
	{% if group_content.comments.all %}
	<div class="card mb-5">
		{% for comment in group_content.comments.all %}
			<div class="card-body">
				<a href="#"><b>{{ comment.author }}</b></a>
				<br>
				<small>{{ comment.date }}</small>
				<p>{{ comment.text }}</p>
				<hr>
			</div>
		{% endfor %}
	{% else %}
		<h3>No comments yet!</h3>
	{% endif %}
	</div>
	</div>
	</div>
</div>
</div>
{% endblock %}
