{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">

	<div class="col-md-12 mx-auto">
	<div class="card mt-5">
	<div class="body-card text-center">
		<h1>{{group_content.topic}}</h1>
			<div>
				<img
	              src="{{ user.profile.prof_img.url }}"
	              class="rounded-circle"
	              width="65"
	              height="65"
	              alt=""/>
	        </div>
		<div class="text-muted mb-3">
			<span class="material-icons calendadar">calendar_today</span>
			<span class="align-top">Published: {{ group_content.creation_date }} by {{ group_content.author }}</span>
		</div>
		<br>
		<div class="post-content text-justify ml-5 mr-5">
			<p>{{group_content.context}}</p>
		</div>
	</div>
	</div>
	<br>


	<div class="card">
		<div class="body-card ml-2">
			<p class="text-muted text-center mt-3" id="reaction{{group_content.id}}">
				{% if  reactions_sum == 1 %}
					{{reactions_sum}} Reaction
				{% else %}
					{{reactions_sum}} Reactions
				{% endif %}
			</p>
			<h5 class="text-center">Share your opinion about this post</h5>
			<div class="row justify-content-center">
			    <div class="col-auto">
			      <table class="table table-borderless text-center">
					<thead>
					    <tr>
					      <td>
					      	<div class="supers" id="{{ group_content.id }}">
						      	<a href="{% url 'posts:super' %}"
						      	   id="superbtn{{ group_content.id }}">
						      	   {% if supers %}
						      	   <span class="material-icons reactions">
						      	    favorite
						      	   </span>
						      	   {% else %}
						      	   <span class="material-icons reactions">
						      	    favorite_border
						      	   </span>						      	   
						      	   {% endif %}
						      	</a>
					      	</div>
					      </td>
					      <td>
					      	<div class="like" id="{{ group_content.id }}">
						      	<a href="{% url 'posts:like' %}"
						      	   id="likebtn{{ group_content.id }}">
						      	   {% if liked %}
						      	   <span class="material-icons reactions">
						      	    thumb_up
						      	   </span>
						      	   {% else %}
						      	   <span class="material-icons reactions">
						      	    thumb_up_off_alt
						      	   </span>						      	   
						      	   {% endif %}
						      	</a>
					      	</div>
					      </td>
					      <td>
					      	<div class="dislike" id="{{ group_content.id }}">
						      	<a href="{% url 'posts:dislike' %}"
						      	   id="dislikebtn{{ group_content.id }}">
						      	   {% if disliked %}
						      	   <span class="material-icons reactions">
						      	    thumb_down
						      	   </span>
						      	   {% else %}
						      	   <span class="material-icons reactions">
						      	    thumb_down_off_alt
						      	   </span>						      	   
						      	   {% endif %}
						      	</a>
					      	</div>
					      </td>
					    </tr>
					</thead>
					<tbody>
					    <tr class="text-muted">
					      <td scope="row">Super</td>
					      <td>Like</td>
					      <td>Dislike</td>
					    </tr>
					    <tr>
					      <td scope="row" id="supercnt{{group_content.id}}">
					      	<b>{{group_content.supers.count}}</b>
					      </td>
					      <td id="likecnt{{group_content.id}}">
					      	<b>{{group_content.likes.count}}</b>
					      </td>
					      <td id="dislikecnt{{group_content.id}}">
					      	<b>{{group_content.dislikes.count}}</b>
					      </td>
					    </tr>
					</tbody>
			      </table>
			    </div>
			</div>
		</div>
	</div>

	<br>
	<div class="card mb-5">
	<div class="card-body">
	<form class="form" method="POST">
		{% csrf_token %}
		{% bootstrap_form form %}
		<input type="submit" class="btn btn-primary" value="Add comment">
	</form>
	<br>
	{% if group_content.comments.all %}
	<div>
		{% for comment in group_content.comments.all %}
			<div class="card-body">
				<a href="#"><b>{{ comment.author }}</b></a>
				<br>
				<small>{{ comment.date }}</small>
				<p>{{ comment.text }}</p>
				<hr>
			</div>
		{% endfor %}
	{% else %}
		<h3>No comments yet!</h3>
	{% endif %}
	</div>
	</div>
	</div>
	</div>

</div>
</div>
{% endblock %}
