{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="col-md-8 mx-auto my-5">
        <div class="card card-signin">
            <div class="card-body">
                <h4 class="card-title text-center">Add a new poll option</h4>
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button
                        class="btn btn-lg btn-success btn-block"
                        type="submit">
                        Add
                    </button> 
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}