{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
	<div class="col-md-8 my-5 mx-auto">
		<div class="card card-signin">
			<div class="card-body">
				<h4 class="card-title text-center">Create a new Poll</h4>
				<form action="{% url 'polls:create' %}" method="POST">
					{% csrf_token %}
					{% bootstrap_form form %}
              		<button
                		class="btn btn-lg btn-success btn-block"
                		type="submit">
                		Create
                	</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
