{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="col-md-12 mx-auto my-5">
        <div class="card card-signin">
            <div class="card-body">
                <h4 class="card-title text-center">Update a Question Poll</h4>
        		<form method="POST">
        			{% csrf_token %}
        			{% bootstrap_form form %}
        			<input type="submit" class="btn btn-primary btn-large" value="Update Question">
                    <a class="btn btn-warning" href="{% url 'polls:add_choice' question.id %}" role="button">Add Choice</a>	
        		</form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
