{% extends 'base.html' %}
{% block content %}
<div class="p-5 text-center bg-image" id="intro">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-dark">
      <h1 class="mb-3">Study Organizer Home Page!</h1>
      <h2 class="mb-3">Create new group or check out polls functionality!</h2>
      <a
        class="btn btn-outline-dark btn-lg m-2"
        href="{% url 'groups:list' %}"
        role="button"
        >Group List
      </a>
      <a
        class="btn btn-outline-dark btn-lg m-2"
        href="{% url 'polls:index' %}"
        role="button"
        >Forms
      </a>
     </div>
  </div>
</div>
{% endblock %}

